body {
  margin: 0px;
  overflow: hidden;
  background-color: white;
}
#webglviewer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
}

.welcome{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  transition: opacity 1s;
  transition-delay: 0.7s;
}

h1{
  font-family: helvetica;
  font-size: 25vw;
  margin:0 auto;
  text-align: center;
  width: 100%;
}

h2{
  font-family: helvetica;
  width: 100%;
  opacity: 0.1;
  font-size: 25vw;
  margin:0 auto;
  margin-top: -1.1em;
  text-align: center;
}

.hero{
  margin: 0 auto;
  display: inherit;
  margin-top: 50px;
  width: 50%;
}
p{
  font-size: 18px;
  font-family: helvetica;
  width: 80%;
  margin: 3em auto 150px auto;
  line-height: 1.5;
  text-align: center;
}
.arrow{
  color: black;
  cursor:pointer;
  pointer-events: initial;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.link-wrapper{
  text-align: center;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  padding: 3em;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50&0+0,0+0,1+50 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}



.loader {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.fade{
  opacity: 0;
}

.rotateWrapper{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background:rgba(0,0,0,0.7);
  pointer-events: none;
  transition: opacity 0.6s;
}
.rotate{
  position: fixed;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 200px;
}

.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background:black;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      justify-content: space-around;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
