@font-face{
  font-family: 'didot';
  src:url(font/Didot-Bold.ttf);
}

@font-face{
  font-family: 'roboto';
  src:url(font/Roboto-Light.ttf);
}


body {
  margin: 0px;
  overflow: hidden;
  background-color: white;
}
#webglviewer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#debug{
  color: white;
  z-index: 999;
  position: absolute;
}
.aim{
  position: absolute;
  width: 10px;
  height:10px;
  border-radius: 50%;
  background: red;
  top:50%;
  left: 25%;
}
.aim2{
  left: 75%;
}
#parent{
  z-index: 10;
  position: absolute;
  background:red;
  right: 0px;
  top:0px;
  height:20px;
  width:360px;
}
#progress{
  display: block;
  background: black;
  height:20px;
}
.welcome{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  overflow: hidden;
  transition: opacity 1s;
  transition-delay: 0.7s;
}
.slide-photo{
  height: 100%;
  width: auto;
  position: absolute;
}
.firstphoto{
  animation: slide 16s infinite linear;
}
.secondphoto{
  animation: slide-2 16s infinite linear;
}

.black-shade{
  background: rgba(0,0,0,0.66);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.shade-wrapper{
  position: relative;
  z-index: 1;
  text-align: center;
  height: 33%;
}
.vr-wrapper{
  height: 33%;
  position: relative;
  text-align: center;
}
.vr-icon{
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

h1{
  font-family: didot;
  color:white;
  font-size: 3em;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin:0 auto;
}

.arrow{
  font-family: roboto;
  display: inline-block;
}
.invisible{
  opacity: 0;
}
.link-wrapper{
  text-align: center;
  position: absolute;
  bottom: 3em;
  left:50%;
  transform: translateX(-50%);
}

.loader {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background:black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes slide{
  from{transform:translate3d(0%, 0, 0);}
  to{transform:translate3d(-100%, 0, 0);}
}

@keyframes slide-2{
  from{transform:translate3d(100%, 0, 0);}
  to{transform:translate3d(0%, 0, 0);}
}